@inject HttpClient Http

<div style="display:block;">
    <h3 style="text-align: center">@imageTitle</h3>
    <img id="popupImage" src="@imageSource" @onclick="@OnImageClick" class="img-fluid img-thumbnail" width="@width" height="@height" />
    <a href="@sourceLink" target="_blank">@linkText</a>
    <br />
</div>

@code {
    [Parameter]
    public string imageTitle { get; set; }

    [Parameter]
    public string imageSource { get; set; }

    [Parameter]
    public string hiddenParagraph { get; set; }

    [Parameter]
    public string width { get; set; } = "auto";

    [Parameter]
    public string height { get; set; } = "auto";

    [Parameter]
    public string sourceLink { get; set; }

    [Parameter]
    public string linkText { get; set; }

    private async void OnImageClick()
    {
        hiddenParagraph = await Http.GetStringAsync(hiddenParagraph);
        await OnClick.InvokeAsync(new Tuple<String, String>(imageSource, hiddenParagraph));
    }

    [Parameter]
    public EventCallback<Tuple<String, String>> OnClick { get; set; }
}
